  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

  .navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    transition: top 0.3s;
    z-index: 1;
    padding: 14px;
    font-size: 1.25rem;
    /* margin-bottom: 16vh; */
}
a.nav-link, a.navbar-brand{
    color: #000;
    font-weight: bolder;
}
a.navbar-brand{
    font-size: 2rem;
}
.sec1{
    height: 90vh;

}
.sec1 .bg-img{
    /* background-image: url("./images/2.jpg"); */
    background-image: url("339-1200x800.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.sec1 .head2{
    font-weight: bolder;
    font-size: 5rem;
}
.sec1Para{
    font-size: 1.25rem;
}

.sec1 input:focus{
    background-color: rgb(242, 238, 240);
    border : none;
}
.contImg1{
    margin-top: 80px;
    height: auto;
    margin-bottom: auto;
    margin-bottom: 30px;
}

.imgs img{
    box-shadow: 3px 3px 4px rgba(202, 0, 0, 0.4); 
    border-radius: 14px;
    margin: 15px;
}

.navbar-brand{
    margin-left: 20px;
}
.navbar-toggler{
    margin-right: 35px;
}

.imgs{
    padding: 10px;
    cursor: pointer;
    transition: transform 0.5s;    
}
.imgs:hover {
    transform: translate(-10px ,-20px);

}
#content{
    font-weight: bolder;
}
footer{
    display: flex;
    justify-content: center;
    height: 30vh;
    align-items: center;
    background-color: #051120;
    z-index: 1;
    width: 100%;
    color: #fff;
    
}
footer a{
    color: #fff;
    font-size: large;
    font-weight: 200;
    text-decoration: none;

}

.exsec1{
    margin-top: 16vh;
}

#header{
    margin-bottom: 16vh;
    background-color: rgb(64, 61, 61);

}

.adcontent{
    overflow: hidden;
    border: none;
    /* border: 1px solid black; */
}
.adsold{
    border: 1px solid rgb(243, 14, 14);
    padding: 40px;

}

.adven{
    margin-top: 30vh;
    margin-bottom: 10vh;
}

.admain{
    border-radius: 14px;
    margin: 8vh 0;
    overflow: hidden;
    border: none;
    /* padding: 10; */
}
.sold{
    border-radius: 14px;
    margin: 8vh 0;
    overflow: hidden;
    border: none;
    padding: 20px;
}
.sold a{
    color: rgb(242, 66, 7);
}
.mup,.mdown{
    margin-top: 16vh;
    margin-bottom: 8vh;
}
.pcon{
    width: 50vw;
}
.shadow,.pshadow{
    box-shadow: 3px 3px 4px rgba(187, 4, 4, 0.4); 
    border-radius: 14px;
}
.pinput input[type=text],.pinput textarea[type=text]{
    background: transparent;
}
.pinput .plevel{
    background-color: rgb(112, 231, 173);
}
/* .social-list li{
    display: inline-block;
    padding: 10px;
} */
.card{
    border:none;
    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}
.card:before{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#E1BEE7;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}
.card:after{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#8E24AA;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}
.card:hover::after{
    transform:scaleY(1);
}
.fonts{
    font-size:11px;
}
.social-list{
    display:flex;
    list-style:none;
    justify-content:center;
    padding:0;
}
.social-list li{
    padding:10px;
    color:#8E24AA;
    font-size:19px;
}

.buttons button:nth-child(1){
    border:1px solid #8E24AA !important;
    color:#8E24AA;
    height:40px;
}
.buttons button a{
   color: #8E24AA;
   text-decoration: none;
}

.buttons button:nth-child(1):hover {
    border:1px solid #8E24AA !important;
    height:40px;
    background-color:#8E24AA;
}
.buttons button:nth-child(1):hover > a {
    color:#fff;
}
.buttons button:nth-child(2){
    border:1px solid #8E24AA !important;
    background-color:#8E24AA;
    color:#fff;
     height:40px;
}
.footerlink a:hover{
    color: #8E24AA;
}